@model MVC_ComponentesCodeFirst.Models.Pedido
<h3>@Model.Descripcion</h3>
<dl class="row" style="width:30%; border:3px solid;">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Fecha)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Fecha)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Precio)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Precio)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Calor)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Calor)
    </dd>
</dl>
<h1>Lista de ordenadores</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Descripcion
                </th>
                <th>
                    Calor
                </th>
                <th>
                    Precio
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>


        @{
            System.Diagnostics.Debug.Assert(Model.Ordenadores != null, "Model.Ordenadores != null");
        }
        @foreach (var ordenador in Model.Ordenadores)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => ordenador.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ordenador.Calor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ordenador.Precio)
                    </td>

                    <td>
                        <a asp-controller="Ordenadores" asp-action="Edit" asp-route-id="@ordenador.Id" title="Editar"> <img src="~/images/editar.png" height="20px" /></a> |
                        <a asp-controller="Ordenadores" asp-action="Details" asp-route-id="@ordenador.Id" title="Detalles"><img src="~/images/detalles.png" height="20px" /></a> |
                        <a asp-controller="Ordenadores" asp-action="Delete" asp-route-id="@ordenador.Id" title="Eliminar"><img src="~/images/eliminar.png" height="20px" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>