@model MVC_ComponentesCodeFirst.Models.Componente

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Componente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoComponente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoComponente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Megas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Megas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ordenador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordenador!.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a href="javascript:void(0);" onclick="history.go(-1);" title="Volver"><img src="~/images/go-back-arrow.svg" height="20px" /></a>

    <a asp-action="Edit" asp-route-id="@Model.Id" title="Editar"> <img src="~/images/editar.png" height="20px"/></a> 
</div>
